$color-accent: #3C64B1;
$footer: #151414;

// IMPORT BOOTSTRAP
@import "../node_modules/bootstrap/scss/bootstrap.scss";

// ACCORDION OVERRIDES
$accordion-padding-y:                     1.5rem;
$accordion-padding-x:                     1.5rem;